<form autocomplete="off" onsubmit="event.preventDefault();">
    <p>You may import unmodified PDFs from Paizo only. For personal use only.</p>
    <p>This will create actors/scenes/journal entries in this world.</p>
    <h4>Supported Modules</h4>
    <div class="supported-modules">
        <p>Fall of Plaguestone</p>
        <span class="complete">&nbsp;</span>
        <p>The Slithering</p>
        <span class="complete">&nbsp;</span>
    </div>
    <div class="supported-modules">
        <p>Troubles in Otari</p>
        <span class="complete">&nbsp;</span>
        <p>Menace Under Otari</p>
        <span class="complete" title="Map from PDF has details on it. For best results, manually replace the map with the one from the flip mat pdf">*</span>
    </div>
    <div class="supported-modules">
        <p>Age of Ashes</p>
        <span class="complete">1</span>
        <span class="complete">2</span>
        <span class="complete">3</span>
        <span class="complete">4</span>
        <span class="complete">5</span>
        <span class="complete">6</span>
    </div>
    <div class="supported-modules">
        <p>Extinction Curse</p>
        <span class="complete">1</span>
        <span class="complete">2</span>
        <span class="partial">3</span>
        <span class="partial">4</span>
        <span class="partial">5</span>
        <span class="partial">6</span>
    </div>
    <div class="supported-modules">
        <p>Agents of Edgewatch</p>
        <span class="complete">1</span>
        <span class="complete">2</span>
        <span class="complete">3</span>
        <span class="complete">4</span>
        <span class="complete">5</span>
        <span class="complete">6</span>
    </div>
    <p>Pathfinder Society Season 1</p>
    <div class="supported-modules">
        <span class="complete">00</span>
        <span class="complete">01</span>
        <span class="complete">02</span>
        <span class="complete">03</span>
        <span class="complete">04</span>
        <span class="complete">05</span>
        <span class="complete">06</span>
        <span class="complete">07</span>
        <span class="complete">08</span>
        <span class="complete">09</span>
        <span class="complete">10</span>
        <span class="partial">11</span>
        <span class="complete">12</span>
        <span class="partial">13</span>
        <span class="complete">14</span>
        <span class="complete">15</span>
        <span class="complete">16</span>
        <span class="complete">17</span>
        <span class="complete">18</span>
        <span class="complete">19</span>
        <span class="complete">20</span>
        <span class="complete">21</span>
        <span class="partial">22</span>
        <span class="complete">23</span>
        <span class="complete">24</span>
        <span class="complete">25</span>
    </div>
    <div class="supported-modules">
        <span class="complete">Q1</span>
        <span class="complete">Q2</span>
        <span class="complete">Q3</span>
        <span class="partial">Q4</span>
        <span class="complete">Q5</span>
        <span class="complete">Q6</span>
        <span class="complete">Q7</span>
        <span class="complete">Q8</span>
        <span class="complete">Q9</span>
        <span class="complete">Q10</span>
        <span class="complete">Q11</span>
        <span class="complete">Q12</span>
        <span class="complete">Q13</span>
    </div>
    <p>Pathfinder Society Season 2</p>
    <div class="supported-modules">
        <span class="complete">01</span>
        <span class="complete">02</span>
        <span class="complete">03</span>
        <span class="complete">04</span>
        <span class="complete">05</span>
        <span class="complete">06</span>
        <span class="complete">07</span>
        <span class="complete">08</span>
        <span class="complete">09</span>
        <span class="complete">10</span>
    </div>
    <p>Bounties</p>
    <div class="supported-modules">
        <span class="complete">01</span>
        <span class="complete">02</span>
        <span class="complete">03</span>
        <span class="complete">04</span>
    </div>

    <div class="supported-modules">
        <span class="partial" style="margin: 0 0.25em;">&nbsp;</span>
        Journal Entries and Scenes Only
        <span class="complete" style="margin: 0 0.25em;">&nbsp;</span>
        Additional Scene Wall Data
    </div>

    <div class="specialthanks">
        <a href="https://www.patreon.com/fryguy1013"><img src="/modules/pdftofoundry/Digital-Patreon-Wordmark_White.png" class="patreon"/></a>
        <p>A special thank you to all of my patrons and everyone that has helped pay for the PDFs.</p>
    </div>

    <div class="form-group">
        <label for="data">Source PDF</label>
        <input type="file" name="data">
    </div>
</form>
